body {
    color:#545454;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

div.wrapper {
    width: 1280px;
    margin: auto;
    position: relative;
}

header {
    position: absolute;
    height: 60px;
    left: 40px;
    right: 40px;
    top: 60px;
    display: flex;
    justify-content: space-between;
}

div.logo {
    width: 200px;
}

header nav {
    position: relative;
    right: 0px;
    margin-left: auto;
    width: 450px;
    display: flex;
    justify-content: space-between;

}

nav div {
    align-self: center;
}

div.background {
    background-image: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
    padding-top: 180px;
}

div.not-only {
    display: flex;
    justify-content: space-around;
    width: 1200px;
    margin: auto;
}

.not-only .content {
    align-self: center;
    width: 460px;
    margin-top: 163px;
    margin-bottom: 243px;
    margin: 0;
}

.not-only p {
    font-size: 15px;
    line-height: 160%;
    margin-bottom: 40px;
}

.button-primary {
    background-color: #F1CDB3;
    padding: 15px 45px;
    color: rgba(41, 41, 41, 1);
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-style: none;
    border-radius: 100px;
}

div.about-content {
    width: 1200px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 100px;
    display: flex;
}

h1, h2, h3 {
    font-weight:400;
    font-style: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-size: 32px;
    line-height: 35.2px;
    letter-spacing: 0.06em;
    margin: 0px;
}

h2 {
    font-size: 44px;
    line-height: 57.2px;
    margin-top: 0;
}

h3 {
    font-size: 35px;
    line-height: 45.5px;
}


.logo p {
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    margin-top: 10px;
    margin-bottom: 0px;
    position: absolute;
    left: 4px;
}


div.slider {
    display: flex;
}

div.list {
    display: flex;
}

.color-primary {
    color:#F1CDB3;
}

.color-dark-s {
    color: #CDCDCD;
}

.color-dark-l {
    color: #545454;
}

.color-dark-xl {
    color: #4C4C4C;
}

.color-light-xl {
    color: #FFFFFF;
}

.underlined {
    text-decoration: underline;
}