:root {
    --color-primary: #F1CDB3;
    --color-primary-light: #FDDCC4;
    --color-dark-s: #CDCDCD;
    --color-dark-m: #B2B2B2;
    --color-dark-l: #545454;
    --color-dark-xl: #4C4C4C;
    --color-dark-3xl: #292929;
    --color-light-s: #FAFAFA;
    --color-light-l: #F6F6F6;
    --color-light-xl: #FFFFFF;
  }

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

div.wrapper {
    max-width: 1280px;
    margin: auto;
    position: relative;
}

header {
    position: absolute;
    height: 60px;
    left: 40px;
    right: 40px;
    top: 60px;
    display: flex;
    justify-content: space-between;
}

h1, h2, h3, h4, h5 {
    font-weight: 400;
    font-style: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0px;
}

h1 {
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
}

h2 {
    font-size: 44px;
    line-height: 130%;
    color: var(--color-light-xl);
}

h3 {
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
}

footer h3 {
    color: var(--color-light-xl);
}

h4 {
    font-size: 20px;
    line-height: 115%;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
}

footer h4 {
    color: var(--color-primary);
}

h5 {
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
}

div.logo {
    width: 200px;
}

.logo p {
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    margin-top: 10px;
    margin-bottom: 0px;
    position: absolute;
    left: 4px;
    color: var(--color-light-xl);
}

.logo a {
    color: var(--color-primary);
}

header nav {
    font-size: 15px;
    right: 0px;
    width: 443px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: var(--color-dark-s);
}

a:hover {
    cursor: pointer;
}

nav a:hover {
    padding-bottom: 3px;
    border-bottom: 3px solid var(--color-primary);
}

a:focus, a.default {
    color: var(--color-light-s);
    padding-bottom: 3px;
    border-bottom: 3px solid var(--color-primary);
}

div.background {
    background-image: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
    padding-top: 180px;
}

div.not-only {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}

.not-only .content {
    width: 460px;
    height: 322px;
    margin: 0;
    margin-top: 163px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.not-only p {
    font-size: 15px;
    line-height: 160%;
    color: var(--color-dark-s);
}

.button {
    color: var(--color-dark-3xl);
    border: 2px solid var(--color-primary);
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 100px;
    letter-spacing: 0.06em;
    line-height: 130%;
}

.button:hover {
    cursor: pointer;
    background-color: var(--color-primary-light);
    border: 2px solid var(--color-primary-light);
}

.button_primary {
    padding: 15px 45px;
    background-color: var(--color-primary);
}

.button_secondary {
    padding: 13px 43px;
    background-color: var(--color-light-s);
}

.button_arrow {
    box-sizing: border-box;
    width: 52px;
    height: 52px;
    border: 2px solid var(--color-primary);
    background-color: var(--color-light-l);
}

div.about-block {
    margin: auto;
    padding-left: 40px;
    padding-right: 40px;
    max-width: 1200px;
}

.about-block .about-content {
    margin: auto;
    padding-top: 80px;
    padding-bottom: 100px;
    display: flex;
    margin-left: 175px;
    margin-right: 175px;
    justify-content: space-between;
    align-items: center;
}

.about-content .text-block {
    max-width: 430px;
    min-height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-content p {
    margin: 0px;
    color: var(--color-dark-xl);
    font-size: 15px;
    line-height: 160%;
}

div.our-friends {
    background-color: var(--color-light-l);
    padding-top: 80px;
    padding-bottom: 100px;
}

.our-friends .content {
    max-width: 1200px;
    margin: auto;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.our-friends h3, .help h3 {
    text-align: center;
}

.content .slider {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.card {
    background-color: var(--color-light-s);
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin-right: 38px;
}

.card:last-of-type {
    margin-right: 0px;
}

.card:hover {
    background-color: var(--color-light-xl);
}

.card img {
    border-radius: 9px 9px 0px 0px;
    margin: auto;
    margin-bottom: 30px;
}

.card button {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

div.help {
    padding-top: 77px;
    padding-bottom: 97px;
}

.help .help-content {
    max-width: 1200px;
    margin: auto;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.help-content .list {
    margin-top: 60px;
    max-width: 1026px;
    height: 285px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    row-gap: 50px;
}

.list div {
    margin: 0px;
    margin-right: 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list div:nth-child(5) {
    margin-right: 0px;
}

.list div:nth-child(6) {
    margin-left: 85px;
}

.list img {
    margin-bottom: 30px;
}

div.donation {
    background-color: var(--color-light-l);
    padding-top: 80px;
    padding-bottom: 100px;
}

.donation .donation-content {
    max-width: 915px;
    margin: auto;
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.donation-content .text-block {
    max-width: 380px;
    height: 282px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    row-gap: 20px;
}

div.credit-card {
    padding: 10px 15px;
    background-color: var(--color-primary);
    border-radius: 9px;
    display: grid;
    grid-template-columns: 30px 1fr;
    column-gap: 15px;
}

.donation p {
    margin: 0px;
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: var(--color-dark-m);
}

footer {
    min-height: 350px;
    background-image: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
}

footer .footer-content {
    max-width: 1200px;
    margin: auto;
    padding: 40px;
    padding-bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-content .contacts {
    margin-top: 16px;
    display: grid;
    row-gap: 36px;
    width: 280px;
}

.footer-content .locations {
    margin-top: 16px;
    display: grid;
    row-gap: 33px;
    width: 300px;
}

div.mail, div.phone, div.location {
    display: flex;
    align-items: center;
}

.mail img, .phone img {
    margin-top: 2px;
}

.footer-content h4 {
    margin-left: 20px;
    text-align: left;
}

@media screen and (width < 1280px) {
    header {
        left: 30px;
        right: 30px;
        top: 30px;
        min-width: 708px;
    }

    div.not-only, .about-block .about-content {
        flex-direction: column;
        align-items: center;
    }

    .not-only img {
        margin-top: 100px;
        margin-left: auto;
        margin-right: 30px;
        width: 569px;
        height: auto;
        align-self: flex-start;
    }

    .not-only .content {
        margin-top: 0px;
    }

    .not-only form {
        align-self: center;
    }

    .about-block .about-content {
        margin-left: 0px;
        margin-right: 0px;
    }

    .about-content .text-block {
        order: -1;
        margin-bottom: 80px;
    }

    .our-friends .content {
        padding-left: 30px;
        padding-right: 30px;
    }

    div.card:nth-of-type(2) {
        margin-right: 0px;
    }

    div.card:last-of-type {
        display: none;
    }

    .help .help-content {
        padding-left: 8.9844%;
        padding-right: 8.9844%;
    }

    .help-content .list {
        width: 82.031%;
        min-width: 630px;
        height: auto;
        row-gap: 55px;
    }

    .list div{
        width: 170px;
    }

    .list div:nth-child(3n-1), .list div:nth-child(3n-2) {
        margin-right: 7.8125%;
        margin-left: 0px;
    }

    .list div:nth-child(3n){
        margin-right: 0px;
        margin-left: 0px;
    }

    .donation .donation-content {
        flex-direction: column;
    }

    .donation-content .text-block {
        order: -1;
        margin-bottom: 60px;
    }

    footer .footer-content {
        padding: 30px;
        padding-bottom: 0px;
        column-gap: 60px;
        row-gap: 65px;
        justify-content: center;
    }
}

@media screen and (320px <= width < 768px) {

    h2, h3 {
        font-size: 25px;
        text-align: center;
    }

    .help h4, .donation h4 {
        font-size: 15px;
    }

    h5 {
        letter-spacing: normal;
    }

    header nav {
        display: none;
    }

    .not-only img {
        width: 260px;
        margin-right: 10px;
    }

    .not-only .content {
        align-items: center;
    }

    .not-only p {
        flex: 1 1 300px;
    }
    
    div.about-block{
        padding: 0px 10px;
    }

    .about-block .text-block {
        min-width: 270px;
        text-align: justify;
        flex: 1;
        padding: 0px 25px;
        margin-bottom: 42px;
        row-gap: 22px;
    }

    @media screen and (320px <= width < 440px) {
        .our-friends .slider {
            flex-wrap: wrap;
            justify-content: space-evenly;
            margin: 42px 0px;
            row-gap: 20px;
        }

        .our-friends .content {
            padding: 0px 10px;
        }

        .our-friends form {
            order: 2;
        }
        
        .our-friends .button_arrow {
            margin: 0px 50px;
        }
    }

    @media screen and (320px <= width < 360px) {
        .our-friends .button_arrow {
            margin: 0px 30px;
        }
    }

    div.card {
        margin: 0px;
    }

    div.card:last-of-type, div.card:nth-of-type(2) {
        display: none;
    }

    .our-friends .button_primary {
        padding: 15px 44.5px;
    }

    .help-content .list {
        min-width: 290px;
        margin-top: 42px;
        flex: 1;
        width: calc(100% - 15px*2);
        row-gap: 30px;
    }
    
    .help-content .list div{
        width: 130px;
        height: 87px;
        margin-right: 0px;
    }

    .list img {
        margin-bottom: 20px;
        height: 50px;
    }

    .donation-content > img, .locations + img, .about-content > img {
        width: 260px;
        padding: 0px 30px;
    }

    div.donation, div.help, div.our-friends, .about-block .about-content {
        padding: 42px 0px;
    }

    .donation-content .text-block {
        align-items: center;
        flex: 1;
        padding-left: 19px;
        padding-right: 20px;
        margin-bottom: 42px;
    }

    .donation p {
        text-align: justify;
    }

    footer .footer-content {
        row-gap: 40px;
    }

    .footer-content .locations,.footer-content .contacts {
        margin-top: 0px;
    }


}
